
###> symfony/framework-bundle ###
.DS_Store
/.env
/public/bundles/
/public/thumbnails/
/public/images/*
!/public/images/hahaclassic.jpg
!/public/images/kittens.png
!/public/images/cat.png
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/.idea/
/.idea
/config/thumbnails.yaml
